# GitHub OAuth
GITHUB_CLIENT_ID=your_client_id
GITHUB_CLIENT_SECRET=<SECRET_e03061ae>t_secret

# NextAuth.js（必需）
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=<SECRET_457fda7c>om_cli_openssl_rand_-base64_32
