# GitHub OAuth
GITHUB_CLIENT_ID=your_client_id
GITHUB_CLIENT_SECRET=your_client_secret

# NextAuth.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=<SECRET_457fda7c>om_cli_openssl_rand_-base64_32

# 站点配置
NEXT_PUBLIC_SITE_URL=http://localhost:3000
